asn1crypto==1.5.1 ; python_version >= "3.12" and python_version < "4.0"
berkeleydb==18.1.11 ; python_version >= "3.12" and python_version < "4.0"
bsddb3==6.2.9 ; python_version >= "3.12" and python_version < "4.0"
